!!! 5
html
  head
    title Social Events
    script
      $('#h3centergoings').text("Social Events");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
      tr(valign='TOP', align='LEFT')
        td.TextObject(width='100%')
          p
            | One goal of the Highland Pointe Social Committee is promote a wide variety of organizations -
            | theres always something fun to do!  The Social Committee is organized by our Social Chairman
            | and hosts parties, wine tastings, outings, and other fun events for the grownups!

