!!! 5
html
  head
    title Clubhouse
    script
      $('#h3centergoings').text("Clubhouse");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='260', colspan='3', align='CENTER', valign='MIDDLE', width='800')
          img#Picture4(height='258', width='500', src='../images/Clubhouse.jpg', border='1', alt='')
      tr(valign='TOP', align='LEFT')
        td(colspan='3', height='3')
      tr(valign='TOP', align='LEFT')
        td.TextObject(colspan='2', width='800')
          p
            | Consistent with its other facilities, the Highland Pointe clubhouse is an outstanding asset to our
            | community. It offers a large area with facilities to accommodate neighborhood get-togethers and
            | private parties.
          p
            | The upstairs features a recently remodeled full kitchen, telephone and entertainment center, with
            | a full suite of audio-visual equipment. Comfortable living room furniture as well as banquet
            | tables and folding chairs are also provided.
          p
            | Downstairs is an exercise room with weight and rowing machines, treadmill, stairmaster, elliptical
            | and more. The satellite TV, CD and radio are available there, too. A dry sauna, steam room and
            | showers to help you relax and clean up after exercising.
          p
            | The upstairs portion can be rented by recreation members for a private party, wedding, reception,
            | etc. For HPRA-sponsored organizations (Kiddie Kapers, Swim Team, etc.), use of the clubhouse is
            | free of charge.
          p
            | To rent the clubhouse, contact the office by email at
            a(href='mailto:aa@highlandpointe.org') aa@highlandpointe.org
            | or by phone at 770-973-0925. Note that the Highland Pointe clubhouse can only be rented by for HPRA members for their own events. An HPRA member is not allowed to rent the clubhouse on behalf of anyone else. Other restrictions may apply.
          p
            | If you plan on renting the clubhouse for a private event, be sure to carefully review and
            | understand the clubhouse rules and rental agreement on the
            a(href='../reference') reference page
            | .
        td
