#bottomcentertop
	a(href='https://app.expressemailmarketing.com/Survey.aspx?SFID=27684') Click here to receive Highland Pointe Broadcast emails
	br
#bottomcenterbottom
	text © 2012 Highland Pointe Recreation Association, Inc. All rights reserved.