table(border="0", cellspacing="0", cellpadding="0", style="width:100%")
	tr
		td(valign="top")
			#centerheader
				span(id='h3centergoings') What's happening at Highland Pointe
	tr
		td(valign="top")	
			#centerbody
				#container!= body