table(border="0", cellspacing="0", cellpadding="0", style="width:100%")
     tr
          td(valign="top")
               #leftresourcesheader
                    span(id='h3leftresources') Resources
     tr
          td(valign="top")
               #leftresourcesbody(style="padding-top:5px")
                    a(href='/') Main
                    br
                    a(href='/eventcalendar') Event Calendar
                    br
                    a(href='/contacts') Contacts
                    br
                    a(href='/classifieds') Classifieds
                    br
                    a(href='/tennis') Tennis
                    br
                    a(href='/kiddiekapers') Kiddie Kapers
                    br
                    a(href='/pool') Pool
                    br
                    a(href='/clubhouse') Clubhouse
                    br
                    a(href='/acc') ACC
                    br
                    a(href='/board') Board and Minutes
                    br
                    a(href='/newsletter') NewsLetter
                    br
                    a(href='/photoalbum') Photo Album
                    br
                    a(href='/map') Map
                    br
                    a(href='/faq') FAQ
                    br
                    a(href='/legalstuff') Legal Policies
                    br
                    a(href='/reference') Policies and Forms
                    br
                    a(href='/links') Community Links
                    br
                    a(href='/mgmt') Site Management
                    br
                    a(href='/upload') Upload Pictures for Review
                    br
                    a(href='http://eepurl.com/AHIsv') Click here to subscribe to the Highland Pointe Broadcast emails
     tr
          td(valign="top")
               #spacer
     tr
          td(valign="top")
               #leftupcomingheader
                    span(id='h3leftupcoming') Upcoming Events
     tr
          td(valign="top")
               #leftupcomingbody(style="padding-top:5px")
                    iframe(src='https://www.google.com/calendar/b/0/embed?src=highlandpointe@gmail.com&src=03n0lqhlvftvqslf2bai6rfmd0@group.calendar.google.com&src=aqm1jbopopf53q4bbtpfmb3bo4@group.calendar.google.com&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&wkst=1&bgcolor=%23E8E8E8&color=%23E8E8E8&ctz=America%2FNew_York&height=245', style='border-width: 0;padding-left:10px', width='90%', frameborder='0', height='400')