script
	function aList(data) {
		var advList = "";
		for (var i in data) {            
			advList += "<a href=" + data[i].referrer + ">" + data[i].textToDisplay + "</a><br/><br/>";         
		}
		return advList;
	}
	$(document).ready(function() {
		$.ajax({
			url: "./advertisers"
		}).done(function ( data ) {
			$('#rightbody').append(aList(data));
		});
	});
table(border="0", cellspacing="0", cellpadding="0", style="width:100%")
	tr
		td(valign="top")	
			#rightheader
				span(id='h3right') Sponsored Links
	tr
		td(valign="top")
			#rightbody(style="padding-top:5px")