#topleft
  img(id='lgtop1', src='/images/SmallTransparentLogo.gif')
#topcenter
  img(id='lgtopmain1', src='/images/PanSmall.jpg')
  img(id='lgtopmain2', src='/images/PoolMainSmall.jpg')
  img(id='lgtopmain3', src='/images/WinterSmall.jpg')
#topright
  a(href='http://www.facebook.com/pages/Highland-Pointe/106229682771352') 
    img(id='lgtopsoc1', src='/images/facebook_badge.png')
  a(href='https://twitter.com/#!/HighlandPteEC')
    img(id='lgtopsoc2', src='/images/twitter_badge.png')