p
	b Event Heading:
p
	input(type='text', id='post_name', name='post[name]', value=post.name, style='width:95%')
p
	b Event Body:
p
	textarea(id='post_description', name='post[description]', style='width:95%;height:500px')= post.description
p
	b Event Date:
p
	input(type='date', id='post_eventDate', name='post[eventDate]', value=post.eventDate, style='width:100px')
p
	b Static Item:
p
	input(type='checkbox', id='post_staticItem', name='post[staticItem]', checked=post.staticItem)
p