p
	b Event Heading:
p
	input(type='text', id='post_name', name='post[name]', value=post.name, style='width:400px')
p
	b Event Body:
p
	textarea(id='post_description', name='post[description]', style='width:400px;height:100px;')= post.description
p
	b Event Image:
p
	input(type='file', id='post_image', name='post[image]')


