!!! 5
html
	head
		title Edit Event
		script
			$('#h3centergoings').text("Edit Event");
	body
		b Edit Event
		form(action='/post', method='post', enctype='multipart/form-data')!= partial('post/post_form', {locals: {post: post, id: id}})
			p
				input(type='hidden', name='_method', value='PUT')
				input(type='hidden', id='aID', name='id', value=id)
				input(type='submit')