!!! 5
html
	head
		title Administer Main Page
		script
			$('#h3centergoings').text("Administer Main Page");
	body
		b Add New Event
		form(action='/post', method='post', enctype='multipart/form-data')!= partial('post/post_form', {locals: {post: post}})
			p
				input(type='submit')