!!! 5
html
	head
		title Add Event
		script
			$('#h3centergoings').text("Add Event");
	body
		b Add Event
		form(action='/post', method='post', enctype='multipart/form-data')!= partial('post/post_form', {locals: {post: post}})
			p
				input(type='submit')