!!! 5
html
  head
    title Map
    script
      $('#h3centergoings').text("Maps");
  body
    table(border='0', cellspacing='0', cellpadding='0', nof='LY', style='font-size 4pt;font-family:Arial, Helvetica, Utkal, sans-serif;padding-left:10px;padding-right:10px;padding-bottom:10px')
      tr(valign='TOP', align='LEFT')
        td(width='100%')
          h2 Links to HighlandPointe Membership Maps
          br
          a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_All.jpg", target='blank') Complete Neighborhood
          br
          a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area1.jpg", target='blank') Phase 1
          br
          a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area2.jpg", target='blank') Phase 2
          br
          a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area3.jpg", target='blank') Phase 3
          br
          a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area4.jpg", target='blank') Phase 4
          br
          br
          br
          h2 Original Aerial View Map
          a(href="../lots/HighlandPointeMap.html", target='blank') Complete Neighborhood