!!! 5
html
  head
    title Map
    script
      $('#h3centergoings').text("Maps");

  body
    h2 Links to HighlandPointe Maps
    br
    a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_All.jpg") Complete Neighborhood
    br
    a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area1.jpg") Phase 1
    br
    a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area2.jpg") Phase 2
    br
    a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area3.jpg") Phase 3
    br
    a(href="http://northeastcobb.org/HighlandPointe/MemberLots_2012-08-20_Area4.jpg") Phase 4
    br
