!!! 5
html
  head
    title Reference Documents
    script
      $('#h3centergoings').text("Reference Documents");    
  body
    table(border='0', cellspacing='0', cellpadding='0', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='20')
      tr(valign='TOP', align='LEFT')
        td(width='476')
          table#Table22(border='0', cellspacing='1', cellpadding='3', width='100%')
            tr
              td(width='246', height='10')
                p Architectural Change Request Form
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../images/ACCChangeRequestForm.pdf')
                    img#Picture133(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                p Clubhouse Rental Agreement
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../images/ClubhouseRentalAgreement.pdf')
                    img#Picture135(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246', height='9')
                p Clubhouse Rules and Guidelines
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='http://highlandpointe.org/Reference/Clubhouse%20Rules%202009_07_10.pdf')
                    img#Picture136(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246', height='9')
                p Clubhouse Representative Form
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../images/ClubhouseRepresentativeForm.pdf')
                    img#Picture137(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246', height='7')
                p Exercise Room Liability Release Form
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../images/ExerciseRoomLiabilityRelease.pdf')
                    img#Picture138(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246', height='8')
                p Pool Rules
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../images/PoolRules.pdf')
                    img#Picture139(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246', height='5')
                p Pool Party Policy
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../images/PoolParties.pdf')
                    img#Picture140(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246', height='13')
                p Tennis Rules
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../TennisRules.pdf')
                    img#Picture141(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Directory Information Form
              td(valign='MIDDLE', align='CENTER', width='112')
                p
                  a(href='../DirectoryInfoForm.pdf')
                    img#Picture142(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Frequently Asked Questions (FAQ)
              td(align='CENTER', width='112')
                p
                  a(href='../images/FAQ.pdf')
                    img#Picture144(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Highland Pointe Bylaws
              td(align='CENTER', width='112')
                p
                  a(href='../Bylaws.pdf')
                    img#Picture143(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Binding Covenants - Phase 1
              td(align='CENTER', width='112')
                p
                  a(href='http://highlandpointe.org/Reference/Phase1Covenants.pdf')
                    img#Picture145(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Binding Covenants - Phase 2
              td(align='CENTER', width='112')
                p
                  a(href='http://highlandpointe.org/Reference/Phase2Covenants.pdf')
                    img#Picture146(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Binding Covenants - Phase 3
              td(align='CENTER', width='112')
                p
                  a(href='http://highlandpointe.org/Reference/Phase3Covenants.pdf')
                    img#Picture147(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Binding Covenants - Phase 4
              td(align='CENTER', width='112')
                p
                  a(href='http://highlandpointe.org/Reference/Phase4Covenants.pdf')
                    img#Picture148(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(width='246')
                p Binding Covenants - Phase 5
              td(align='CENTER', width='112')
                p
                  a(href='http://highlandpointe.org/Reference/Phase5Covenants.pdf')
                    img#Picture149(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td(height='16')
                p  
              td
                p  
              td
                p  
            tr
              td(width='246')
                p
                  | Looking for Adobe Reader® software?
                  a(href='http://www.adobe.com/products/acrobat/readstep2.html') Download it now.
              td(align='CENTER', width='112')
                p
                  a(href='http://www.adobe.com/products/acrobat/readstep2.html')
                    img#Picture127(height='33', width='112', src='../images/get_adobe_reader.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
              td
                p  
            tr
              td
                p  
              td
                p  
              td
                p  
