!!! 5
html
  head
    title Policies and Forms
    script
      $('#h3centergoings').text("Policies and Forms");    
  body
    table(border='0', cellspacing='0', cellpadding='0', nof='LY', width="100%")
      tr(valign='TOP', align='LEFT')
        td(height='20')
      tr(valign='TOP', align='LEFT')
        td(width='100%')
          table#Table22(border='0', cellspacing='1', cellpadding='3', width='100%')
            tr
              td(width='246', height='9')
                text Architectural Change Request Form
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/ACCChangeRequestForm.pdf')
                    img#Picture133(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Clubhouse Rental Agreement
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/ClubhouseRentalAgreement.pdf')
                    img#Picture133(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Clubhouse Rules and Guidelines
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/ClubhouseRules.pdf')
                    img#Picture133(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Clubhouse Vendor Form
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/ClubhouseRepresentativeForm.pdf')
                    img#Picture133(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Exercise Room Liability Release Form
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/ExerciseRoomLiabilityRelease.pdf')
                    img#Picture138(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Access Card Information
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/AccessControlSystemsForHomeowners.pdf')
                    img#Picture140(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Pool Rules
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/PoolRules.pdf')
                    img#Picture140(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Pool Party Policy
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/PoolParties.pdf')
                    img#Picture140(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Nautix Pool Event Form
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/SpecialEventPoolForm.pdf')
                    img#Picture140(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Swim At Your Own Risk
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/SwimAtYourOwnRisk.pdf')
                    img#Picture140(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Tennis Rules
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/TennisRules.pdf')
                    img#Picture141(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Directory Information Form
              td(valign='MIDDLE', align='CENTER', width='112')
                text
                  a(href='reference/DirectoryInfoForm.pdf')
                    img#Picture142(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(width='246', height='9')
                text Frequently Asked Questions (FAQ)
              td(align='CENTER', width='112')
                text
                  a(href='reference/FAQ.pdf')
                    img#Picture144(height='31', width='31', src='../images/AcrobatDocIcon.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
            tr
              td(height='16')
                text  
            tr
              td(width='246')
                text
                  | Looking for Adobe Reader®?
                  a(href='http://www.adobe.com/products/acrobat/readstep2.html') Download it now.
              td(align='CENTER', width='112')
                text
                  a(href='http://www.adobe.com/products/acrobat/readstep2.html')
                    img#Picture127(height='33', width='112', src='../images/get_adobe_reader.gif', vspace='0', hspace='0', align='TOP', border='0', alt='')
