!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  body
    include includes/top
    table(border="0", cellspacing="0", cellpadding="0", style="width:100%")
      tr
        td(valign="top", style="width:25%;padding-top:5px;padding-right:5px")
          include includes/left
        td(valign="top", style="width:50%;padding-top:5px")
          include includes/center
        td(valign="top", style="width:25%;padding-top:5px;padding-left:5px")
          include includes/right