!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Highland Pointe Online
    block scripts
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  body
    #top
      include includes/top
    #left
      include includes/left
    #center
      include includes/center
    #right
      include includes/right