!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Highland Pointe Online
    block scripts
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
  body
    #top
      #topleft
        img(id='lgtop1', src='/images/SmallTransparentLogo.gif')
      #topcenter
        img(id='lgtopmain1', src='/images/PanSmall.jpg')
        img(id='lgtopmain2', src='/images/PoolMainSmall.jpg')
        img(id='lgtopmain3', src='/images/WinterSmall.jpg')
      #topright
        a(href='http://www.facebook.com/pages/Highland-Pointe/106229682771352') 
          img(id='lgtopsoc1', src='/images/facebook_badge.png')
        a(href='https://twitter.com/#!/HighlandPteEC')
          img(id='lgtopsoc2', src='/images/twitter_badge.png')
    #left
      #leftresourcesheader
        h3(id='h3leftresources') Resources
        #leftresourcesbody
          a(href='/') Main
          br
          a(href='/eventcalendar') Event Calendar
          br
          a(href='/contacts') Contacts
          br
          a(href='/tennis') Tennis
          br
          a(href='/pool') Pool
          br
          a(href='/clubhouse') Clubhouse
          br
          a(href='/acc') ACC
          br
          a(href='/board') Board
          br
          a(href='/newsletter') NewsLetter
          br
          a(href='/photoalbum') Photo Album
          br
          a(href='/map') Map
          br
          a(href='/faq') FAQ
          br
          a(href='/legalstuff') Legal Stuff
          br
          a(href='/reference') Policies and Forms
          br
          a(href='/links') Community Links
          br
          a(href='/post/admin') Event Management
      #spacer
      #leftupcomingheader
        h3(id='h3leftupcoming') Upcoming Events
        #leftupcomingbody
          iframe(src='https://www.google.com/calendar/b/0/embed?src=highlandpointe@gmail.com&src=03n0lqhlvftvqslf2bai6rfmd0@group.calendar.google.com&src=aqm1jbopopf53q4bbtpfmb3bo4@group.calendar.google.com&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&wkst=1&bgcolor=%23E8E8E8&color=%23E8E8E8&ctz=America%2FNew_York&height=245', style='border-width: 0;', width='180', frameborder='0', height='245')
    #center
      #centerheader
        h3(id='h3centergoings') What's happening at Highland Pointe
        #centerbody
          #container!= body
    #right
      #rightheader
        h3(id='h3right') Sponsored Links
        #rightbody
          a(href='http://www.casteelair.com') Casteel Heating and Cooling
          br
          br
          a(href='http://www.coloritsold.com') Debbie Redford, All Atlanta Realty
          br
          br
          a(href='http://www.vergepainting.com') Verge & Associates Painting and Siding
          br
          br
          a(href='http://sidingandwindowsatlanta.com') Tightline Exteriors
          br
          br          
          a(href='http://tightlinedrywall.com/') Tightline Drywall
          br
          br          
          a(href='mailto:mathmommie@gmail.com') Angie Jones, Math Tutor
          br
          br          
          a(href='mailto:baguitar@comcast.net') Bob Abernathy, Guitar Teacher
          br
          br          
          a(href='http://www.tribblesautomotive.com') Tribble's Automotive
          br
          br          
          a(href='http://roswell-cobb.fetchpetcare.com') Fetch! Pet Care of NW Atlanta
          br
          br          
          a(href='mailto:multitradeconstruction@yahoo.com') Mike Dickman, Construction
          br
          br          
          a(href='mailto:powellspainting@tds.net') Mike Powell, Powell's Painting
          br
          br          
          a(href='mailto:pbreese23@gmail.com') Peter Breese, Realtor
    #bottom
      #bottomcentertop
        a(href='https://app.expressemailmarketing.com/Survey.aspx?SFID=27684') Click here to receive Highland Pointe Broadcast emails
        br
      #bottomcenterbottom
        text © 2012 Highland Pointe Recreation Association, Inc. All rights reserved.