!!! 5
html
  head
    title Links
    script
      $('#h3centergoings').text("Useful links for Highland Pointe Residents");
  body
    table(border='0', cellspacing='0', cellpadding='0', nof='LY', style='font-size 4pt;font-family:Arial, Helvetica, Utkal, sans-serif')
      tr(valign='TOP', align='LEFT')
        td(width='100%')
          table#Table1(border='0', cellspacing='0', cellpadding='0', width='100%')
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.cobbcounty.org') Cobb County's official website
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.cobbemc.com') Cobb EMC (our power company)
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.cobbwater.org') Cobb County Water & Sewer
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='https://etax.dor.ga.gov/ptd/OnLineSvcs_PropTax.aspx') Georgia DOR Property Tax Division
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.cobb.k12.ga.us') Cobb County Board of Education - Get General School Information
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.cobbk12.org/Davis/') Davis Elementary School
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.cobbk12.org/Mabry/') Mabry Middle School
            tr(valign='TOP', align='LEFT')
              td(width='476')
                p
                  a(href='http://www.lassiterhigh.org/') Lassiter High School
            tr(valign='TOP', align='LEFT')
              td(width='476', height='16')
                p
                  a(href='http://decal.ga.gov/Prek/PreKHome.aspx') Office of School Readiness (Georgia's Free Pre-K information)
            tr(valign='TOP', align='LEFT')
              td(width='476', height='16')
                p
                  a(href='https://www.cobbcountyegov.org/secure/animalcontrol/complaints.htm') Cobb County Animal Control (nuisance dogs, etc.)
            tr(valign='TOP', align='LEFT')
              td(width='476', height='16')
                p
                  a(href='http://www.mabrypark.org') Mabry Park Organization
