!!! 5
html
  head
    title Tennis
    script
      $('#h3centergoings').text("Tennis");   
      $(function() {
        $( "#tabs" ).tabs();
      });
  body
    div#tabs
      ul
        li: a(href='#tabs-1') Tennis
        li: a(href='#tabs-2') Tennis Teams
        li: a(href='#tabs-3') Tennis Rules
      div#tabs-1
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='CENTER')
            td(align='CENTER', valign='MIDDLE')
              img#Picture5(src='../images/Tennis1.jpg', border='0', alt='')
          tr(valign='TOP', align='LEFT')
            td
              p
                | Highland Pointe has 4 recently resurfaced tennis courts, a spacious pavilion and observation
                | decks. Tennis rules and regulations can be found on our
                a(href='../reference') reference page
                | .
      div#tabs-2
        table(border='0', cellspacing='0', cellpadding='0', width='750', nof='LY')
          tr(valign='TOP', align='LEFT')
            td.TextObject(colspan='2', width='750')
              p(style='text-align: left;') 2012
              p(style='text-align: left;')
                | The Highland Pointe Tennis community currently has the following ALTA
                | teams: two Thursday Women teams, one men's team and two Sunday Women teams.  If you are new
                | to the neighborhood and interested in joining one of these teams, or would like information on
                | winter or summer USTA or Mixed Doubles or Senior ALTA teams, please contact us at
                a(href='mailto:tennis@highlandpointe.org') tennis@highlandpointe.org
                |  and we will be glad to connect you with a team.  We have great people and fun teams of all levels.
              ul
                li(style='text-align: left;')
                  | Spring ALTA season begins - 3/15 Thursday Women; 3/17 Men, 3/18 Sunday Women
                li(style='text-align: left;')
                  | Summer USTA roster deadline - 4/26 Thursday Women; 4/27 Business Women
                li(style='text-align: left;') Summer ALTA Mixed Doubles roster deadline - 4/11
                li(style='text-align: left;')
                  | Summer ALTA season begins - 5/31 Sr. Women; 6/1 Sr. Men; 6/2 Mixed Doubles
                li(style='text-align: left;')
                  | Summer USTA season begins - 5/31 Thursday Women; 6/3 Business Women
      div#tabs-3
        table(border='0', cellspacing='0', cellpadding='0', width='750', nof='LY')
          tr(valign='TOP', align='LEFT')
            td.TextObject(colspan='2', width='750')
              a(href='reference/TennisRules.pdf') Click here for a copy of the Tennis Rules.
