!!! 5
html
  head
    title Tennis
    script
      $('#h3centergoings').text("Tennis");
      $(function() {
        $( "#tabs" ).tabs();
      });
  body
    div#tabs
      ul
        li: a(href='#tabs-1') Tennis
        li: a(href='#tabs-2') Tennis Teams
      div#tabs-1
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='CENTER')
            td(align='CENTER', valign='MIDDLE')
              img#Picture5(src='../images/Tennis1.jpg', border='0', alt='')
          tr(valign='TOP', align='LEFT')
            td
              p
                | Highland Pointe has 4 recently resurfaced tennis courts, a spacious pavilion and observation
                | decks. Tennis rules and regulations can be found
                a(href='../reference/TennisRules.pdf') here
                | .
      div#tabs-2
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='CENTER')
            td(align='CENTER', valign='MIDDLE')
              table
                tr
                  td(width='75%', align='CENTER', valign='MIDDLE')
                    img#Picture7(src='../images/Tennis2_3.jpg', border='0', alt='', width='400', height='320')
                  td(width='25%', align='CENTER', valign='MIDDLE')
                    table
                      tr
                        td
                          img#Picture6(src='../images/Tennis2_2.jpg', border='0', alt='', width='152', height='180')
                      tr
                        td
                          img#Picture5(src='../images/Tennis2_1.jpg', border='0', alt='', width='153', height='130')
              table
                tr
                  td
                    hr
                tr
                  td
                    b
                      | HIGHLAND POINTE TENNIS COMMUNITY ~ PICS FROM MEMORIAL AND LABOR DAY SOCIALS’16
                tr
                  td
                    p
                      | Highland Pointe tennis community is vibrant and active, enjoying lighted, 4-court facilities with newly resurfaced courts
                      | (2015), new nets (2016) and updated electrical system (2016).  Currently 7 doubles teams are playing in fall’16 Alta season – B5
                      | sr. ladies (Tues am), B7 ladies (Thurs am), C4 men (sat am) and 4 ladies’ Sunday afternoon teams – A3, B3, C1 and C8. In addition,
                      | rec members enjoy the courts for other league play, such as T2 and USTA, as well as personal exercise and enjoyment.
                tr
                  td
                    p
                      | As we offer year-round facilities, winter mixed leagues will start playing in January – roster deadline is Oct. 21.  It’s also not
                      | too early to start thinking about spring Alta season – we particularly need more players for the A-level women’s team. if
                      | you’re interested in any of the above, need more information or would like to inquire about starting a new team (jr’s
                      | anyone?), please email Ginger at tennis@highlandpointe.org.
                tr
                  td
                    hr
              table
                tr
                  td(width='75%', align='CENTER', valign='MIDDLE')
                    img#Picture7(src='../images/Tennis2_6.png', border='0', alt='', width='400', height='320')
                  td(width='25%', align='CENTER', valign='MIDDLE')
                    table
                      tr
                        td
                          img#Picture6(src='../images/Tennis2_4.jpg', border='0', alt='', width='140', height='160')
                      tr
                        td
                          img#Picture5(src='../images/Tennis2_5.jpg', border='0', alt='', width='140', height='150')
