!!! 5
html
  head
    title Tennis
    script
      $('#h3centergoings').text("Tennis");   
      $(function() {
        $( "#tabs" ).tabs();
      });
  body
    div#tabs
      ul
        li: a(href='#tabs-1') Tennis
        li: a(href='#tabs-2') Tennis Teams
      div#tabs-1
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='CENTER')
            td(align='CENTER', valign='MIDDLE')
              img#Picture5(src='../images/Tennis1.jpg', border='0', alt='')
          tr(valign='TOP', align='LEFT')
            td
              p
                | Highland Pointe has 4 recently resurfaced tennis courts, a spacious pavilion and observation
                | decks. Tennis rules and regulations can be found
                a(href='../reference/TennisRules.pdf') here
                | .
      div#tabs-2
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='LEFT')
            td.TextObject(colspan='2', width='100%')
              p(style='text-align: left;') 2012
              p(style='text-align: left;')
                | The Highland Pointe Tennis community currently has the following ALTA
                | teams: two Thursday Women teams, one men's team and two Sunday Women teams.  If you are new
                | to the neighborhood and interested in joining one of these teams, or would like information on
                | winter or summer USTA or Mixed Doubles or Senior ALTA teams, please contact us at
                a(href='mailto:tennis@highlandpointe.org') tennis@highlandpointe.org
                |  and we will be glad to connect you with a team.  We have great people and fun teams of all levels.
              ul
                li(style='text-align: left;')
                  | Summer ALTA season begins - 5/31 Sr. Women; 6/1 Sr. Men; 6/2 Mixed Doubles
                li(style='text-align: left;')
                  | Fall ALTA roster deadline – 7/6 Thursday Women; 7/9 Sunday Women; 7/12 Men
                li(style='text-align: left;')
                  | Fall ALTA season begins – 9/6 Thursday Women; 9/8 Men; 9/9 Sunday Women
              p(style='text-align: left;')
                | The Tennis Committee has decided to try an online court reservation system beginning June 1.  Players can utilize the tennis reservation system for FREE!  You can begin making reservations immediately after registering yourself as an active user.  Since Highland Pointe is considered a private facility, you will need a pass code which will be provided to HP Recreation members.  Tennis players may access the system to reserve courts by either going online (www.reservemycourt.com) or by telephone (1-877-662-6878). When making a reservation over the internet, players should print out their reservation confirmation which indicates their reservations details.  Confirmations can also be sent via text message to any cell phone.  To use this service be sure you include your cell phone number in your personal information.  Reservations will continue to be allowed only one week in advance, and there will still be one court set aside for “walk-ons”.  All Highland Pointe tennis players are encouraged to go to this web site to sign up and for more information on this system.
