!!! 5
html
	head
		title Upload Pictures
		script
			$('#h3centergoings').text("Upload Pictures");
	body
		b Upload Pictures - you can upload multiple pictures at one time.  The name, email, and event information is needed if I have questions.  It's not stored anywhere.
		form(action='/upload', method='post', enctype='multipart/form-data')
			p
				label Submitter's Name:
				input(type="text", name="username")
				br
				label Submitter's email address:
				input(type="text", name="emailaddr")
				br
				label Event:
				input(type="text", name="eventname")
				br
				input(type="file", name="upload", multiple="multiple")
				br
				input(type='submit', value="Upload Pictures")