back-color = white
back-body-color = #C8C8C8
back-h3-color = white
div-border-color = #2a6da9

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

gradient(a, b)
  background -moz-linear-gradient(top, a, b)
  background -webkit-gradient(linear, left top, left bottom, from(a), to(b))

header-border()
  background back-color
  border-style solid
  border-color div-border-color
  border-width 1px

font-adjust(n)
  font-size n 
  font-family  Arial,sans-serif

h3-adjust()
  color white
  height 20px
  top -15px

soc-image-adjust()
  height 50px
  width 50px

body
  font-adjust(12px)
  background-color back-body-color

text
  font-adjust(14px)

a
  font-adjust(14px)

p
  font-adjust(14px)

#top
  position absolute
  top 2px
  left 10px
  height 135px
  width 1014px
  border-style solid
  border-color div-border-color
  border-width 1px
  background-color white
  border-radius(0px)

#left
  position absolute
  top 142px
  left 10px
  height 550px
  width 190px

#center
  position absolute
  top 142px
  left 202px
  height 550px
  width 629px
  header-border()
  border-radius(0px)

#right
  position absolute
  top 142px
  left 835px
  height 550px
  width 190px  
  header-border()
  border-radius(0px)

#bottom
  position absolute
  top 698px
  left 10px
  height 30px
  width 1014px
  border-style solid
  border-color div-border-color
  border-width 1px
  background-color white
  border-radius(0px)

#topleft
  position relative
  top 10px
  left 20px

#lgtop1
  position relative
  
#topcenter
  position relative
  top 10px
  left 200px

#lgtopmain1
  position relative
  height 110px
  width 210px
  top -100px
  border-style solid
  border-width 2px
  border-color grey

#lgtopmain2
  position relative
  height 110px
  width 210px
  top -100px
  left 10px
  border-style solid
  border-width 2px
  border-color grey

#lgtopmain3
  position relative
  height 110px
  width 210px
  top -100px
  left 20px
  border-style solid
  border-width 2px
  border-color grey

#topright
  position relative
  top -100px
  left 900px

#lgtopsoc1
  position relative
  top -95px  
  soc-image-adjust()
  
#lgtopsoc2
  position relative
  top -95px 
  soc-image-adjust()

#spacer
  height 8px

#leftresourcesheader
  position relative
  background-color white
  height 265px
  header-border()
  border-radius(0px)

#h3leftresources
  position relative
  h3-adjust()
  background back-h3-color
  gradient(#55aaee, #003366)
  border-radius(0px)

#leftresourcesbody
  position relative
  background-color white
  overflow scroll
  top -25px
  left 10px
  height 240px
  width 172px

#leftupcomingheader
  position relative
  height 275px
  header-border()
  border-radius(0px)

#h3leftupcoming
  position relative
  h3-adjust()
  background back-h3-color
  gradient(#55aaee, #003366)
  border-radius(0px)

#leftupcomingbody
  position relative
  left 2px
  top -25px
  height 255px

#centerheader
  position relative

#h3centergoings
  position relative
  h3-adjust()
  background div-border-color
  gradient(#55aaee, #003366)
  border-radius(0px)

#centerbody
  position relative
  top -15px
  left 10px
  overflow scro10
  height 510px
  width 610px
  overflow scroll

#topmain
  position relative
  top 0px
  height 475px
  overflow scroll

#bottommain
  overflow hidden

#bottomcenter
  position relative
  top 10px
  left 275px
  width 702px

#rightheader
  position relative

#h3right
  position relative
  h3-adjust()
  background back-h3-color
  gradient(#55aaee, #003366)
  border-radius(0px)

#rightbody
  position relative
  background-color white
  overflow scroll
  top -25px
  left 10px
  height 525px
  width 172px
