!!! 5
html
  head
    title Architectural Control and Grounds
    script
      $('#h3centergoings').text("Architectural Control and Grounds");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='610', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='254', width='545')
          #ExternalHTML3Color
            table(width='610', height='254')
              tr(align='LEFT', valign='TOP')
                td
                  .Section1
                    table(border='0', cellspacing='0', cellpadding='0', width='100%', style='width: 100.0%; border-collapse: collapse; mso-padding-alt: 0in 5.4pt 0in 5.4pt;')
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin: 0in; margin-bottom: .0001pt;')
                            b
                              u
                                span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                                  | What is Architectural Control?
                                  o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | Architectural control in Highland Pointe is
                              | specified by the covenants to which
                              u all
                              |  homeowners are bound,
                              | regardless of whether or not the homeowner is an association member. If you
                              | plan to make any changes to your property that are visible to one or more
                              | neighbors,
                              i
                                u even if you are not an association member
                              | , you are
                              | still bound by your covenants to have those changes approved by the
                              | Architectural Control Committee (ACC).
                              o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin: 0in; margin-bottom: .0001pt;')
                            b
                              u
                                span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                                  | What Constitutes a Property Change?
                                  o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | The following constitute changes to your
                              | property:
                              o:p
                          ol(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                            li Building an addition onto your home.
                            li Adding a retaining wall or terracing.
                            li Extending your driveway.
                            li Replacing your deck with one of a different design.
                            li Changing the color of your home.
                            li Adding a fence of any type.
                            li Changing the landscaping, especially hard-scapes.
                            li Installing a satellite dish.
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-top: 6.0pt; margin-right: 0in; margin-bottom: 6.0pt; margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | The
                              | following
                              u do not
                              |  constitute a change to your property:
                              o:p
                          ol(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                            li Remodeling the inside of your home.
                            li Replacing a retaining wall or terracing with one of identical design.
                            li Repairing your driveway.
                            li Replacing your deck with one of an identical design.
                            li Repainting your home, using the same color.
                            li Repairing a fence.
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-top: 6.0pt; margin-right: 0in; margin-bottom: 6.0pt; margin-left: 0in;')
                            b
                              span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;') Rule of thumb:
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | If you are not making substantial changes to your home (same color,
                              | landscaping, etc.), you do not need approval.
                              o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin: 0in; margin-bottom: .0001pt;')
                            b
                              u
                                span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                                  | Architectural Control
                                  | Committee
                                  o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | The Architectural Control Committee (ACC) is the
                              | Highland Pointe Board of Directors, headed up by a chairman, the ACC
                              | Chairman. While the following lists are by no means complete, they should
                              | give you a better idea of what constitutes a change to your property.
                              o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-top: 6.0pt; margin-right: 0in; margin-bottom: 6.0pt; margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | If
                              | you are changing your property, you must submit an Architectural Change
                              | Request along with the appropriate paperwork to the ACC. Passage of the
                              | request is basically a matter of getting signed approval from any neighbors
                              | who can see the changes.
                              o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin: 0in; margin-bottom: .0001pt;')
                            b
                              u
                                span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                                  | How to Request ACC Approval?
                                  o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | The process for requesting ACC approval of a
                              | change is formally outlined in your covenants. Heres the short version.
                              b
                                u
                                  o:p
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level2(style='mso-list: l22 level2 lfo48;')
                            ol(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              li Download and complete the Architectural Change Request form (see the 
                                a(href='../reference') Reference 
                                | section of the web site for a Microsoft Word version), 
                                | or request a copy from the Highland Pointe office.
                              p
                              li Provide a sketch/drawing of the proposed changes. You may submit
                                | copies of drawings provided by an architect/builder, or you may draw a
                                | rendering yourself. The only requirement is that it clearly communicates the
                                | extent of the changes to the ACC.
                              p
                              li Using the Neighbor Notification page of the Architectural Change
                                | Request, or something similar to it as a guideline, obtain signatures from
                                | each neighbor with line of sight visibility to the changes. These signatures
                                | are not for approval purposes. Rather they provide proof that your neighbors
                                | are aware of the changes.
                              p
                              li Submit the above paperwork to the ACC either directly at a board
                                | meeting (see the online event calendar) or by delivering the information to
                                | the Highland Pointe mailbox, located just outside the entrance to the
                                | clubhouse.
                      tr
                        td(width='610', valign='top', style='width: 7.05in; padding: 0in 5.4pt 0in 5.4pt;')
                          p.Level1Text(style='margin-top: 6.0pt; margin-right: 0in; margin-bottom: 6.0pt; margin-left: 0in;')
                            span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                              | Questions?
                              | Call or
                              a(href='mailto:aa@highlandpointe.org') email
                              |  the Highland Pointe
                              | office.
                              o:p
                    p.Level1Text(style='margin-top: 6.0pt;')
                      span(style='font-size: 12.0pt; mso-bidi-font-size: 10.0pt;')
                        o:p
