li(style="list-style-type: none;")
	a(href='#{result.url}') #{result.title}
	br
	url(style='font-size:14px;font-style:normal;color:#006621;font-family: arial,sans-serif;')#{result.url}
	br
	div(style='width:800px;font-size:12px;font-style:normal;font-family: arial,sans-serif')#{result.content}
	br