p
	b Referrer:
p
	input(type='text', id='advertiser_referrer', name='advertiser[referrer]', value=advertiser.referrer, style='width:200px')
p
	b Text To Display:
p
	input(type='text', id='advertiser_textToDisplay', name='advertiser[textToDisplay]', value=advertiser.textToDisplay, style='width:200px')
p
	b Sort Order:
p
	input(type='text', id='advertiser_sortorder', name='advertiser[sortOrder]', value=advertiser.sortOrder, style='width:100px')
p