!!! 5
html
  head
    title Kiddie Kapers
    script
      $('#h3centergoings').text("Kiddie Kapers");
  body
    table(border='0', cellspacing='0', cellpadding='0', nof='LY', style='font-size 4pt;font-family:Arial, Helvetica, Utkal, sans-serif;padding-left:10px;padding-right:10px')
      tr(valign='TOP', align='LEFT')
        td(width='100%')
          p
            | If you live in Highland Pointe and have a child 6 & under, then this is the group for you!
          p
            | Join us and help our “Kiddie Community” grow!
          p
            | Kiddie Kapers is a group for parents/kids to get to know their neighbors and HAVE FUN!!!
          P
            | Friend us on Facebook!
          P
            | For:  Families with kids of all ages who want to become involved in our growing community!
            | Started out with just Kiddie Kapers (which is geared for kids 6 & under),
            | but this site could be used to get all parents in our neighborhood involved and interacting!
          P
            | How: To find the group, please follow this link
            a(href='https://www.facebook.com/groups/highlandpointefamilies/') here
          P
            | There is a white flower beside the group name Highland Pointe Kiddie Kapers and families.
            | Simply click on the "Join Group" icon and your membership request will be sent for approval.
            | Facebook will notify you when you become a member of the group and you will immediately be able to post!
          P
            | If you have any questions or have trouble locating the group or requesting membership,
            | please feel free to contact Liz Horner at:
            a(href='mailto:lhorner10@gmail.com') lhorner10@gmail.com
          P
            | Thank you!