!!! 5
html
  head
    title Kiddie Kapers
    script
      $('#h3centergoings').text("Kiddie Kapers");
  body
    table(border='0', cellspacing='0', cellpadding='0', nof='LY', style='font-size 4pt;font-family:Arial, Helvetica, Utkal, sans-serif;padding-left:10px;padding-right:10px')
      tr(valign='TOP', align='LEFT')
        td(width='100%')
          p
            | If you live in Highland Pointe and have a child 6 & under, then this is the group for you! 
          p
            | Join us and help our “Kiddie Community” grow!
          p
            | Kiddie Kapers is a group for parents/kids to get to know their neighbors and HAVE FUN!!!  
            | It hasn’t been around for a few years, but with so many young families moving into the neighborhood…it is time to bring it back!  Starting in 2013 we will set up play dates, field trips, help to make neighborhood parties more kid friendly and MUCH MORE!!!
          p
            | Right now we are working to form this group, but we need YOU to make it complete!
          p
            | MORE DETAILS TO COME….but please email Liz Horner (LHORNER10@GMAIL.COM) 
            | if you are interested in joining this group.  Please give the following in your email: Your name, children’s or child’s name/age and what your work hours are to help with scheduling
