p
	b Name:
p
	input(type='text', id='post_name', name='post[name]', value=post.name)
p
	b Description:
p
	textarea(id='post_description', name='post[description]')= post.description
p
	b Image:
p
	input(type='text', id='post_image', name='post[image]', value=post.image)
p
	input(type='submit')