!!! 5
html
	head
		title Administer Main Page
		script
			$('#h3centergoings').text("Administer Main Page");
	body
		b Add New Entry
		form(action='/main', method='post')!= partial('main/main_form', {locals: {post: post}})