!!! 5
html
  head
    title Legal Stuff
    script
      $('#h3centergoings').text("Legal Stuff");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='356', colspan='2', width='800')
          #ExternalHTML1Color
            table(width='604', height='356')
              tr(align='LEFT', valign='TOP')
                td
                  p(align='center')
                    strong
                      | BY USING THIS SITE, YOU AGREE TO THESE TERMS OF USE. IF YOU DO NOT AGREE TO
                      | THESE TERMS OF USE, DO NOT USE THIS SITE.
                    p(align='left')
                      | The materials made available in this site, including materials in linked sites
                      | directly or indirectly accessible from this site, are provided "as is" without
                      | warranties of any kind, either express or implied, including but not limited
                      | to all implied warranties of merchantability, fitness for a particular purpose,
                      | title, or noninfringement. Highland Pointe Recreation, Inc. ("HPRA") does not
                      | warrant that the materials will be error free, nor free of viruses, defamatory,
                      | offensive, or other harmful matter. You assume the entire cost of any necessary
                      | service, repair, or correction.
                    p
                      | The materials that can be accessed from linked sites are not maintained by
                      | HPRA and HPRA is not responsible for the contents thereof. Any reference to a
                      | linked site or any specific third party product or service by name does not
                      | constitute or imply its endorsement by HPRA, and you assume all risk with
                      | respect to its use.
                    p
                      | Under no circumstances shall HPRA be liable for any damages, including without
                      | limitation, direct, indirect, incidental, special, punitive, consequential, or
                      | other damages (including without limitation lost profits, lost revenues, or
                      | similar economic loss), whether in contract, tort, or otherwise, arising out
                      | of the use or inability to use the materials available in this site or any
                      | linked site, even if we are advised of the possibility thereof, nor for any
                      | claim by a third party.
                    p
                      | This site is for your personal and non-commercial use, and you agree to use
                      | this site for lawful purposes only. You shall not copy, use, modify, transmit,
                      | distribute, reverse engineer, or in anyway exploit copyrighted or proprietary
                      | materials available in this site, except as expressly permitted by the
                      | respective owner(s) thereof. Use of any software available for downloading
                      | from the site is governed by the terms of the applicable license agreement
                      | accompanying or included with the software. All trademarks, service marks,
                      | and trade names in this site are the marks of the respective owner(s), and
                      | any unauthorized use thereof is strictly prohibited.
                    p
                      | You agree to defend, indemnify, and hold HPRA harmless from and against any
                      | and all claims, losses, liabilities, damages and expenses (including
                      | attorney's fees) arising out of your use of this site.
                    p
                      | The terms of use shall be governed in accordance with the laws of the state
                      | of Georgia, U.S.A., excluding its conflict of laws provisions. HPRA reserves
                      | the right to add, delete, or modify any or all terms of use at any time with
                      | or without notice.
