!!! 5
html
  head
    title Map
    script
      $('#h3centergoings').text("Maps");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
      tr(valign='TOP', align='LEFT')
        td
        td.TextObject(width='800')
          p(style='text-align: justify;')
            span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
              | The Highland Pointe map is the sole property of Highland Pointe Recreation
              | Association and is only to be used for recreational purposes by members of the Highland Pointe
              | Recreation Association. Any other use of this map, including, but not limited to the advancement
              | of a commercial, governmental, political, or non-profit enterprise, is strictly prohibited
              | without the express written consent of Highland Pointe Recreation Association. Highland Pointe
              | Recreation Association does not guarantee the accuracy or completeness of this map or the
              | information represented by it, including, but not limited to lot boundaries, right of ways,
              | features, and names. This map is not a legally binding document. Highland Pointe Recreation
              | Association and its Board of Directors are not responsible for any harm caused by the use of this
              | map.
          p(style='text-align: justify;')
            span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
              | I have read and understood that I (and my organization) will be bound by the
              | above statements.
          p(style='text-align: justify;')
            span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
    table(border='0', cellspacing='0', cellpadding='0', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(width='7', height='8')
        td
      tr(valign='TOP', align='LEFT')
        td
        td(width='800')
          table#Table2(border='0', cellspacing='0', cellpadding='0', width='100%')
            tr(valign='MIDDLE', align='CENTER')
              td(valign='MIDDLE', align='CENTER', width='237')
                p
                  b
                    span(style='font-size: 12pt;')
                      a(href='/map/lots', target='blank') I  AGREE
              td(valign='MIDDLE', align='CENTER', width='237')
                p
                  b
                    span(style='font-size: 12pt;')
                      a(href='/') I  DO  NOT  AGREE
