!!! 5
html
  head
    title Newsletter
    script
      $('#h3centergoings').text("Newsletter");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='152', colspan='2', align='CENTER', valign='MIDDLE', width='545')
          img#Picture7(height='152', width='545', src='../images/PipelineGraphic.gif', border='0', alt='')
      tr(valign='TOP', align='LEFT')
        td(colspan='2', height='3')
      tr(valign='TOP', align='LEFT')
        td.TextObject(colspan='2', width='800')
          p
            | The Pipeline is Highland Pointe's monthly newsletter and is distributed to all residents,
            | regardless of their membership status. You'll find great information about current happenings in
            | our community, welcomes to new neighbors, board meeting minutes and much more.
          p
            | And don't forget the classified section in which you can find vendors offering a variety of goods
            | and services. It's also a great way to let everyone in Highland Pointe know about your business.
            | If you pay in advance for a running ad, you'll receive a discount.
