!!! 5
html
  head
    title Site Management
    script
      $('#h3centergoings').text("Site Management");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY',style="padding-left:10px;padding-right:10px")
      tr(valign='TOP', align='LEFT')
        td(width='692', height='6')
      tr(valign='TOP', align='LEFT')
        td.TextObject(width='610')
          br
          a(href='/post/admin') Event Management
          br
          a(href='/adv/admin') Sponsor Link Management
          br
          a(href='/classifieds/admin') Classifieds Management
          br
          a(href='/ref/admin') Reference File Management
          br
          a(href='/pipe/admin') Pipeline File Management
          br
          a(href='/min/admin') Minutes File Management
