!!! 5
html
  head
    title Pool
    script
      $('#h3centergoings').text("Pool");
      $(function() {
        $( "#tabs" ).tabs();
      });
  body
    div#tabs
      ul
        li: a(href='#tabs-1') Pool
        li: a(href='#tabs-2') Swim Team
      div#tabs-1
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='CENTER')
            td
              img#Picture4(src='images/Pool.jpg', border='0', alt='')
          tr(valign='TOP', align='LEFT')
            td
              p
                | Highland Pointes swimming facilities rank among the best in the area. The large pool
                | is a great place to enjoy a cool dip during the Georgia summer. There are almost
                | always some friendly neighbors to chat with. And the expansive deck means theres
                | plenty of room to host swim meets and neighborhood parties.
          tr
            td
              p
                | Pool Regulations and Pool Party Policy can be found on the
                a(href='../reference') policies and forms
                |  page.
          tr
            td
              p
                | Access card information can be found
                a(href='../reference/AccessControlSystemsForHomeowners.pdf') here
                | .
          tr
            td
              p
                | Here's a copy of the
                a(href='../reference/HPRAPoolCalendar.pdf') pool schedule
                |  for this summer.
      div#tabs-2
        table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY')
          tr(valign='TOP', align='CENTER')
            td
              img#Picture4(src='images/SwimTeam1.jpg', border='0', alt='')
          tr(valign='TOP', align='LEFT')
            td
              p
                | The Highland Pointe swim team is a lot of fun, not to mention a great way to stay in shape over
                | the summer and become a better swimmer. Information about the next season will appear on this
                | page as it becomes available.  If you would like more information, you can email 
                a(href='mailto:fincher6@bellsouth.net') Kelly Fincher
                |  or call her at 678-677-1997.
              p
                b 2012 Piranha's Swim Team Schedule
                br
                br
                | May 29 at Woodbine Station
                br
                | June 5 at Chimney Lakes
                br
                | June 12 
                b (Home) 
                | vs Arden Lake 
                br
                | June 19 
                b (Home) 
                | vs Hampton Ridge
                br
                | June 26 at Parkwood Commons

                

