!!! 5
html
  head
    title Pool
    script
      $('#h3centergoings').text("Pool");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='225', align='CENTER', valign='MIDDLE', width='800')
          img#Picture4(height='225', width='544', src='../images/pool.jpg', border='0', alt='')
    table(border='0', cellspacing='0', cellpadding='0', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(height='1')
      tr(valign='TOP', align='LEFT')
        td(width='800')
          table#Table1(border='0', cellspacing='0', cellpadding='1', width='100%')
            tr
              td(width='800', height='90')
                p
                  | Highland Pointes swimming facilities rank among the best in the area. The large pool
                  | is a great place to enjoy a cool dip during the Georgia summer. There are almost
                  | always some friendly neighbors to chat with. And the expansive deck means theres
                  | plenty of room to host swim meets and neighborhood parties.
            tr
              td(width='800', style='background-color: rgb(255,255,255);', height='27')
                p
                  | Pool Regulations and Pool Party Policy can be found on the
                  a(href='../reference') reference page
                  | .
