!!! 5
html
  head
    title Frequently Asked Questions
    script
      $('#h3centergoings').text("Frequently Asked Questions");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='610', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(width='692', height='6')
      tr(valign='TOP', align='LEFT')
        td.TextObject(width='610')
          ul
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | How do I sign up to receive Highland Pointe broadcast emails?
                  br
                span(style='font-weight: normal;')
                  | Point your browser to our home page,
                  a(href='http://highlandpointe.org') http://highlandpointe.org
                  |  and click on the link at the bottom that reads, 
                  i
                    | Click
                    | here to receive Highland Pointe Broadcast emails.
                  | 
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | How can I rent the Highland Pointe clubhouse?
                  br
                span(style='font-weight: normal;')
                  | To rent the Highland Pointe Clubhouse, contact the office by email at
                  a(href='mailto:aa@highlandpointe.org') aa@highlandpointe.org
                  | or call 770-973-0259.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                | Note that the Highland Pointe clubhouse can only be rented by for HPRA
                | members for their own events. An HPRA member is not allowed to rent the clubhouse on behalf
                | of anyone else. Other restrictions may apply.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What are Highland Pointe's amenities?
                  br
                span(style='font-weight: normal;')
                  | The quality of its facilities and amenities is the main reason many
                  | residents choose Highland Pointe as their home.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                | There are walking trails throughout the neighborhood and along the side of
                | Sweat Mountain. The trails is comprised of some steep portions that takes you past some nice
                | views (on the forest trail and through wooded areas. A complete hike takes about an hour if
                | you take your time.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                | The Recreation Facilities include a children's playground, and grass field,
                | a large pool, four tennis courts, and a basketball goal.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                | The lower level of the clubhouse includes an exercise facility with weight,
                | stair and rowing machines, treadmill, elliptical, and showers. The
                | upper level of the clubhouse has spacious men and women's restrooms, a complete kitchen, and
                | a large meeting room, including a stereo, CD/DVD player, and satellite television.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What is the Highland Pointe Recreation Association?
                  br
                span(style='font-weight: normal;')
                  | Highland Pointe Recreation Association is a non-profit organization
                  | made up Highland Pointe residents.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | Who is eligible to be a member of the association?
                  br
                span(style='font-weight: normal;') Membership is only available to residents of Highland Pointe.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What levels of membership are available?
                  br
                span(style='font-weight: normal;')
                  | There are two levels of membership, Homeowner and Recreation. In turn,
                  | there are two types of Homeowner membership, Permanent and Voluntary.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What is meant by Permanent Homeowner membership?
                  br
                span(style='font-weight: normal;')
                  | Property owners associated with Permanent Homeowner membership are
                  | bound by their covenants to renew their Homeowner membership annually. Because covenants are
                  | associated with the property itself, subsequent owners of the property automatically become
                  | Permanent Homeowner members.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What is meant by Voluntary Homeowner membership?
                  br
                span(style='font-weight: normal;')
                  | All property owners other than Permanent Homeowner members are
                  | considered Voluntary members. Voluntary members choose to renew their membership each year.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What are the benefits of Permanent Homeowner membership?
                  br
                span(style='font-weight: normal;')
                  | In addition to their obvious commitment to the support of our
                  | community, Permanent Homeowner members are eligible to serve on the Board of Directors and
                  | vote in Association matters. They also receive a substantial discount on Recreation
                  | membership.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What are Homeowner membership dues used for?
                  br
                span(style='font-weight: normal;')
                  | Homeowner membership dues cover the upkeep cost of the entrances,
                  | dams, walkways and trails.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What are the benefits of becoming a Recreation Member?
                  br
                span(style='font-weight: normal;')
                  | Recreation membership entitles members of the household to use
                  | the children's playground, pool, tennis courts, basketball court, exercise facility, sauna
                  | and steam room. Only Recreation members are allowed to rent the upper level of the clubhouse
                  | for receptions, parties and other events.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What does it cost to become a member?
                  br
                span(style='font-weight: normal;')
                  | Homeowner Membership dues are $170 per year. Recreation Membership
                  u includes Homeowner membership
                  | .
                  | Together, the total cost is $655 per year for Voluntary members and $555 for Permanent
                  | members.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | What is the HPRA Board of Directors?
                  br
                span(style='font-weight: normal;')
                  | The Board of Directors is a group of nine volunteers who commit to a
                  | two years term, devoting their free time for our community. The board meets every month,
                  | usually at the clubhouse. Residents are welcome to attend and bring up community related
                  | issues for discussion.
                br
                | Board member elections are held in November of each year.
                | Approximately half the board positions are elected each time, so there are always experienced
                | board members remaining with each new class.
            p(style='text-align: left;')
              span(style='font-family: \'Times New Roman\', Times, Serif, serif; font-size: 12pt;')
                b
                  | Where else can I find information about Highland Pointe?
                  br
                span(style='font-weight: normal;')
                  | If you can't find the information you are looking for in the Pipeline or on the website, you can also call the office at
                  | 770-973-0925 or contact a board member.
