p
  label(for='user_login') Login:
p
  input(type='text', id='user_login', name='user[login]', value=user.login)
p
  label(for='user_password') Password:
p
  input(type='text', id='user_password', name='user[password]', value=user.password)
p
  label(for='user_role') Role:
p
  input(type='text', id='user_role', name='user[role]', value=user.role)
p
  input(type='submit')