!!! 5
html
	head
		title Residents Area
		script
			$('#h3centergoings').text("Residents Area");
	body
		h1 Welcome to the Residents Area
		p I don't have anything in this section currently but we could use it for "resident only" information.
		p The content is definitely up for discussion. 
		p
		p One thing to note is that there will be two types of logins.  One login will be for residents 
		p and another will be for an admin to make changes to the site(this will most likely be text only changes for now).
