!!! 5
html
  head
    title Photo Album
  body
  h2 Photo Album(Will link to Flickr eventually)
    table(border='0', cellspacing='0', cellpadding='0', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(width='3')
        td(width='800')
          table#Table1(border='1', cellspacing='0', cellpadding='4', width='100%')
            tr(valign='MIDDLE', align='CENTER')
              td(width='133')
                p
                  a(href='../Photo_Album/2001_Photos/2001_photos.html') 2001 Photos
              td(width='133')
                p
                  a(href='../Photo_Album/2002_Photos/2002_photos.html') 2002 Photos
              td(width='147')
                p
                  a(href='../Photo_Album/2003_Photos/2003_photos.html') 2003 Photos
              td(width='121')
                p
                  a(href='../Photo_Album/2004_Photos/2004_photos.html') 2004 Photos
            tr
              td(width='133')
                p(style='text-align: center;')
                  a(href='../Photo_Album/2005_Photos/2005_photos.html') 2005 Photos
              td(width='133')
                p(style='text-align: center;')
                  a(href='../Photo_Album/2006_Photos/2006_photos.html') 2006 Photos
              td(width='147')
                p(style='text-align: center;')
                  a(href='../Photo_Album/2007_Photos/2007_photos.html') 2007 Photos
              td
                p  
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td(width='581', height='4')
      tr(valign='TOP', align='LEFT')
        td.TextObject(width='800')
          p
            b
              u Calling all photographers:
            | The goal of this page is to document in image form the events of our neighborhood. There is an ongoing need for someone to take pictures at all neighborhood events. If you are willing to do this or have pictures from a neighborhood event that you are willing to share, please burn a CD and drop it off in the webmaster's mailbox at 3540 Lone Indian Way (check your directory for a map of the neighborhood). Please include a note with your name and address and the name of the event.
          p
            | Prints or other non-digital media cannot be accepted. Also, due to bandwidth and server
            | limitations, please do not send your pictures via email.
          p
            | Highland Pointe respects your privacy. If you see a photo with you or your child that you would
            | rather not appear in the photo album, please let us know. Just send the webmaster a message from
            | the feedback page
            | or email
            a(href='mailto:webmaster@highlandpointe.org') webmaster@highlandpointe.org
            | .
