!!! 5
html
  head
    title Photo Album
    script
      $('#h3centergoings').text("Photo Album");
  body
    table(border='0', cellspacing='0', cellpadding='0', width='100%', nof='LY',style="padding-left:10px;padding-right:10px")
      tr(width="100%")
        td(align='CENTER')
          table
            tr
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157629136494903/')
                  img(src='http://farm8.staticflickr.com/7172/6804279467_072d7f4b82_t.jpg')
                  h4 2001 Photos
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157629136806405/')
                  img(src='http://farm8.staticflickr.com/7005/6804399603_af226b6d2e_t.jpg')
                  h4 2002 Photos
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157629136968055/')
                  img(src='http://farm8.staticflickr.com/7173/6804465289_7074079132_t.jpg')
                  h4 2003 Photos
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157629137025779/')
                  img(src='http://farm8.staticflickr.com/7173/6804501039_803e95a75d_t.jpg')
                  h4 2004 Photos
            tr
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157629137170027/')
                  img(src='http://farm8.staticflickr.com/7014/6804547763_a6d2dc77cf_t.jpg')
                  h4 2005 Photos
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157629137194527/')
                  img(src='http://farm8.staticflickr.com/7165/6804570895_3ac454a999_t.jpg')
                  h4 2006 Photos
              td(align='CENTER', valign='BOTTOM')
                a(href='http://www.flickr.com/photos/highlandpointe/sets/72157630595919886/')
                  img(src='http://farm8.staticflickr.com/7125/7579426434_86832f4798_t.jpg')
                  h4 2012 Photos
                  
      tr(valign='TOP', align='LEFT')
        td.TextObject(width='100%', style="padding-left:10px;padding-right:10px")
          p
            b
              u Calling all photographers:
            | The goal of this page is to document in image form the events of our neighborhood. There is an ongoing need for someone to take pictures at all neighborhood events. If you are willing to do this or have pictures from a neighborhood event that you are willing to share, please upload the photos 
            a(href='/upload' ) here
          p
            | Prints or other non-digital media cannot be accepted. Also, due to bandwidth and server
            | limitations, please do not send your pictures via email.
          p
            | Highland Pointe respects your privacy. If you see a photo with you or your child that you would
            | rather not appear in the photo album, please let us know. Just send the webmaster a message from
            | the feedback page
            | or email
            a(href='mailto:webmaster@highlandpointe.org') webmaster@highlandpointe.org
            | .
