!!! 5
html
  head
    title Highland Pointe Board of Directors
  body
    h2 Highland Pointe Board of Directors
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td.TextObject(colspan='2', width='800')
          p
            | The Highland Pointe Recreation Association, Inc. Board of Directors is a group of volunteers who
            | have committed to a two years term, devoting their free time for our community. Some board
            | members even sign on for more than one term!
          p
            | Board member elections are held in November of each year. Approximately half the board positions
            | are elected each time, so there are always experienced Board members remaining with each new
            | class. Mandatory HOA member households in Highland Pointe are eligible to vote for Board
            | Members, and ANY adult Mandatory HPHOA member is eligible to run for the board. It doesnt matter
            | if youve been here twenty years or twenty minutes!
          p
            | The board usually meets monthly. Check the
            a(href='../EventCalendar/') online calendar
            | for meeting times and dates. Residents are welcome to attend and bring up community related issues for discussion.
          ul
            li
              a(href='../Contacts/') Click here for board member and office contact information.
