!!! 5
html
  head
    title Contact
  body
    h2 Contacts
    table(border='0', cellspacing='0', cellpadding='0', width='800', nof='LY')
      tr(valign='TOP', align='LEFT')
        td.TextObject(width='800')
          p
            table#Table3(border='1', cellspacing='0', cellpadding='3', width='100%')
              colgroup
                col(width='309')
                col(width='243')
              tr
                td(width='309')
                  p
                    b Highland Pointe Office
                    br
                    i see hours of operation note below
                td(width='243')
                  p
                    b
                      | 3750 Club House Court
                      br
                      | Marietta, GA 30066
                      br
                      | 770-973-0925
                      br
                      | Email
                    | :
                    a(href='mailto:office@highlandpointe.org') office@highlandpointe.org 
              tr
                td(width='309')
                  p
                    b Highland Pointe Clubhouse
                    br
                    | (please
                    b call
                    | the office for rental arrangements)
                td(width='243')
                  p 770-973-6244
              tr
                td(width='309')
                  p
                    | Clubhouse Rental
                    br
                    | Pool Parties
                td(width='243')
                  p
                    | Please call the office at 770-973-0925
                    br
                    | (
                    i no email, please
                    | )
              tr
                td(width='309')
                  p President - Bob Kimball
                td(width='243')
                  p
                    a(href='mailto:president@highlandpointe.org') president@highlandpointe.org
              tr
                td(width='309')
                  p Treasurer - Dave Gunnells
                td(width='243')
                  p
                    a(href='mailto:treasurer@highlandpointe.org') treasurer@highlandpointe.org
              tr
                td(width='309')
                  p Architectural Control - Jason Salmon
                td(width='243')
                  p
                    a(href='mailto:acc@highlandpointe.org') acc@highlandpointe.org
              tr
                td(width='309')
                  p Grounds Director - Steve Laufersweiler
                td(width='243')
                  p
                    a(href='mailto:grounds@highlandpointe.org') grounds@highlandpointe.org
              tr
                td(width='309')
                  p Pool Director - Matt Tock
                td(width='243')
                  p
                    a(href='mailto:pool@highlandpointe.org') pool@highlandpointe.org
              tr
                td(width='309')
                  p Tennis Director - Judy Taylor
                td(width='243')
                  p
                    a(href='mailto:tennis@highlandpointe.org') tennis@highlandpointe.org
              tr
                td(width='309')
                  p Clubhouse Director - Dan Raby
                td(width='243')
                  p
                    a(href='mailto:clubhouse@highlandpointe.org') clubhouse@highlandpointe.org
              tr
                td(width='309')
                  p Social Director - Steve Fincher
                td(width='243')
                  p
                    a(href='mailto:social@highlandpointe.org') social@highlandpointe.org
              tr
                td(width='309')
                  p Administrator - Rhonda Hester
                td(width='243')
                  p
                    a(href='mailto:administrator@highlandpointe.org') administrator@highlandpointe.org
              tr
                td(width='309')
                  p
                    | Pipeline Editor
                    br
                    | Articles, Advertisements, Notices, etc.
                td(width='243')
                  p
                    a(href='mailto:pipeline@highlandpointe.org') pipeline@highlandpointe.org
              tr
                td(width='309')
                  p Kiddie Kapers
                td(width='243')
                  p
                    a(href='mailto:kiddiekapers@highlandpointe.org') kiddiekapers@highlandpointe.org
              tr
                td(width='309')
                  p Webmaster
                td(width='243')
                  p
                    a(href='mailto:webmaster@highlandpointe.org') webmaster@highlandpointe.org
              tr
                td(width='309')
                  p General Information
                td(width='243')
                  p
                    a(href='mailto:info@highlandpointe.org') info@highlandpointe.org
                    br
                    | or call the office: 770-973-0925
              tr
                td(width='309', height='16')
                  p Administrative Assistant - Mary Ciesielski
                td(width='243')
                  p
                    a(href='mailto:aa@highlandpointe.org') aa@highlandpointe.org
                    br
                    | or call the office: 770-973-0925
              tr
                td(colspan='2')
                  p
                    b Office Hours of Operation
                    br
                    | Please note that the Highland Pointe office
                    | is open only for a limited time most days. All communication to the office is
                    | monitored and will be answered directly or, when required, forwarded to the
                    | appropriate board member.
