!!! 5
html
  head
    title Event Calendar
    script
      $('#h3centergoings').text("Event Calendar");
  body
    iframe(src='http://www.google.com/calendar/embed?src=highlandpointe%40gmail.com&src=03n0lqhlvftvqslf2bai6rfmd0%40group.calendar.google.com&src=aqm1jbopopf53q4bbtpfmb3bo4%40group.calendar.google.com&chrome=NAVIGATION&height=495&bgcolor=%23E8E8E8', style='border-width: 0;', width='610', frameborder='0', height='495')
