p
	b Classified Heading:
p
	input(type='text', id='classified_name', name='classified[name]', value=classified.name, style='width:95%')
p
	b Classified Body:
p
	textarea(id='classified_description', name='classified[description]', style='width:95%;height:500px')= classified.description
p