p
	b Classified Heading:
p
	input(type='text', id='classified_name', name='classified[name]', value=classified.name, style='width:400px')
p
	b Classified Body:
p
	textarea(id='classified_description', name='classified[description]', cols='30', rows='8')= classified.description
p