!!! 5
html
	head
		title Classifieds
		script
			$('#h3centergoings').text("Classifieds");
	body
		#topmain(style="padding:10px;")
			table(border='0', cellspacing='0', cellpadding='0', width='100%',style='vertical-align:text-top;')
				each classified in classifieds
					tr(style='vertical-align:text-top')
						td(width='100%', style='padding-bottom:20px')
							!= partial('classifieds/post', {classified: classified})